<h2 class="field">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
  <br />
<% end %>

<div class="backLink">
  <%= link_to "Home", :root %>
</div>

<div class="backLink">
  <%= render "devise/shared/links" %>
</div>
