<!DOCTYPE html>
<html>
  <head>
    <title>PuzzleFight</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class='navbar'>
      <div class='dropdown dropdown-left'>
        Instructions
        <div class='dropdown-content'>
          <p>(1) Pick a level, then click 'Start'.</p> 
          <p>(2) Use the arrow-keys to move the yellow piece around the board.</p> 
          <p>(3) Your goal is to capture all of the blue pieces in as few moves as possible.</p> 
          <p>(4) If you accidentally capture a red piece, your score will increase by a random number between 2 and 5.</p> 
          <p>(5) Click 'Start' again at any time to strategically randomize the puzzle.</p>
          <p>(6) Sign-in to compete for personal and all-time best scores, which update instantly.</p> 
          <p>(7) Don't worry about leaving the game: your progress is always saved automatically. </p>   
        </div>
      </div>
      <h1 class='logoBar'>PuzzleFight</h1>
      <div class='dropdown dropdown-right'>
        <% if user_signed_in? %>  
          Hello, <%= current_user.username %>
        <% else %>
          Register
        <% end %>
        <div class='dropdown-content'>  
          <% if user_signed_in? %>
            <ul><%= link_to 'Update Account', edit_user_registration_path, method: :get %></ul>
            <ul><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></ul>
          <% else %>
            <ul><%= link_to 'Sign In', new_user_session_path %></ul>
            <ul><%= link_to 'Sign Up', new_user_registration_path %></ul>
          <% end %>
        </div>
      </div>    
    </div>
    <%= yield %>
  </body>
</html>
